{% extends "layout.html" %}

{% block content %}

<div class="page-background" style="background-image: url(/static/content/Steps2.jpg);"></div>


    <h2 class="body-main-header">First impressions</h2>
    <div class="body-main">
            <p>
                Hannah stumbled into Nick's quad in Duncan Hall the first weekend of the 2012 academic year at Notre Dame.
                While preparing for an early morning Notre Dame beating of Navy in Ireland, magic was happening
                back in South Bend, Indiana.  Although both of us were reluctant to be an official item, we were not willing
                to let the other stay too far away.  Eventually we realized that special feeling was love.
                Neary since the beginning of our relationship we have had trouble staying near each other.
                Less than 6 months into knowing each other Hannah went to Capetown, South Africa, to study abroad.
                Upon coming back we spent a year in South Bend together before Nick graduated and moved to Madison to work for Epic.
                From there Hannah spent her senior year at Saint Mary's before finding residence in Cincinnati.
                Nick hopes to be living in Cincinatti by the time anybody sees this.
            </p>
    <h3>Proposal</h3>
    <p>She said YES!</p>
        </div>

{% endblock %}
