{% extends "layout.html" %}

{% block content %}

<div class="page-background" style="background-image: url(/static/content/Holding.jpg);"></div>

<h2 class="body-main-header">Accomodations</h2>
<div class="body-main-2column">
    <div class="col-md-6">
        <div class="churchimage">
            <img src="/static/Content/Mariemont_Inn.jpg" alt="Mariemont Church" style="width:440px;height:330px;margin-top:1.8em;">
        </div>
    </div>
    <div class="col-md-6">
        <h2>Mariemont Inn</h2>
        <p>The Mariemont Inn is located a few minutes walk from the Mariemont Chapel where we are getting married and bell tower park where the
        reception is being held.</p>
        <h4>Address</h4>
        <p>6880 Wooster Pike <br /> Cincinnati, OH 45227</p>
        <h4>Website</h4>
        <a href="http://mariemontinn.com/">http://mariemontinn.com/</a>
        <p>Room block under DONNELLY TO BE UPDATED</p>
    </div>
</div>

    {% endblock %}

