{% extends "layout.html" %}

{% block content %}

<div class="page-background" style="background-image: url(/static/content/Avenue.jpg);"></div>

<h1 class="body-main-header">Bridal Party</h1>
<h2 class="body-main-header">Groomsmen</h2>
<p class="body-main">*Friends listed in alphabetical order</p>
<div class="body-main-2column">

    <div class="groomsmenpic row">
        <div class="groomsmenpic col-md-4">
            <h3 class="groomsmenpicheader">Joseph Labetti - Best Man</h3>
            <img class="groomsmenpic" src="static/Content/Friends.jpg" alt="Joey" style="width:215px;height:275px; border-radius:50%;">
        </div>
        <div class="groomsmenbody col-md-8">
            <p>Joey lived with Despite never living together they were constantly in each other's rooms.  Joey currently lives in Chicago</p>
        </div>
    </div>
    <div class="groomsmenpic row">
        <div class="groomsmenpic col-md-4">
            <h3 class="groomsmenpicheader">Casey Donnelly</h3>
            <img class="groomsmenpic" src="static/Content/Friends.jpg" alt="Joey" style="width:215px;height:275px; border-radius:50%;">
        </div>
        <div class="groomsmenbody col-md-8">
            <p>Joey lived with Despite never living together they were constantly in each other's rooms.  Joey currently lives in Chicago</p>
        </div>
    </div>
    <div class="groomsmenpic row">
        <div class="groomsmenpic col-md-4">
            <h3 class="groomsmenpicheader">Travis Donnelly</h3>
            <img class="groomsmenpic" src="static/Content/Friends.jpg" alt="Joey" style="width:215px;height:275px; border-radius:50%;">
        </div>
        <div class="groomsmenbody col-md-8">
            <p>Joey lived with Despite never living together they were constantly in each other's rooms.  Joey currently lives in Chicago</p>
        </div>
    </div>
    <div class="groomsmenpic row">
        <div class="groomsmenpic col-md-4">
            <h3 class="groomsmenpicheader">Karim Ahmed</h3>
            <img class="groomsmenpic" src="static/Content/Friends.jpg" alt="Joey" style="width:215px;height:275px; border-radius:50%;">
        </div>
        <div class="groomsmenbody col-md-8">
            <p>Joey lived with Despite never living together they were constantly in each other's rooms.  Joey currently lives in Chicago</p>
        </div>
        </div>
    <div class="groomsmenpic row">
        <div class="groomsmenpic col-md-4">
            <h3 class="groomsmenpicheader">Jacob Cawley</h3>
            <img class="groomsmenpic" src="static/Content/Friends.jpg" alt="Joey" style="width:215px;height:275px; border-radius:50%;">
        </div>
        <div class="groomsmenbody col-md-8">
            <p>Joey lived with Despite never living together they were constantly in each other's rooms.  Joey currently lives in Chicago</p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <h3 class="groomsmenpicheader">Joel Hlavaty</h3>
                <img class="groomsmenpic" src="static/Content/Friends.jpg" alt="Joey" style="width:215px;height:275px; border-radius:50%;">
            </div>
        <div class="groomsmenbody col-md-8">
            <p>Joey lived with Despite never living together they were constantly in each other's rooms.  Joey currently lives in Chicago</p>
    </div>
    </div>
    <div class="groomsmenpic row">
        <div class="groomsmenpic col-md-4">
            <h3 class="groomsmenpicheader">Jordan Lange</h3>
            <img class="groomsmenpic" src="static/Content/Friends.jpg" alt="Joey" style="width:215px;height:275px; border-radius:50%;">
        </div>
        <div class="groomsmenbody col-md-8">
            <p>Joey lived with Despite never living together they were constantly in each other's rooms.  Joey currently lives in Chicago</p>
        </div>
    </div>
    <div class="groomsmenpic row">
        <div class="groomsmenpic col-md-4">
            <h3 class="groomsmenpicheader">Peter Candel</h3>
            <img class="groomsmenpic" src="static/Content/Friends.jpg" alt="Joey" style="width:215px;height:275px; border-radius:50%;">
        </div>
        <div class="groomsmenbody col-md-8">
            <p>Joey lived with Despite never living together they were constantly in each other's rooms.  Joey currently lives in Chicago</p>
        </div>
    </div>
</div>

    {% endblock %}
